langchain
langchain-community
langchain-huggingface
langchain-classic
pypdf
pymupdf
chromadb
rank_bm25
flashrank
sentence-transformers
python-dotenv
ragas
langsmith
datasets
fastapi
uvicorn
streamlit
python-multipart
requests
